.toolbar-button {
    background-color: #f9f9f9;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: relative; /* Ensure the dropdown appears relative to the button */
}

.button-l, .button-r, .button-c {
    display: none;
}

.button-text {
    margin-right: 10px;
}

.arrow {
    margin-left: auto;
    font-size: 12px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Position the dropdown below the button */
    left: 0;
    width: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show dropdown menu on hover */
.toolbar-button:hover + .dropdown-content {
    display: block;
}
